.nav-top {
  height: 64px;
  background-color: #a25158;
  display: flex;
}
.btn {
  color: #fff;
  &:active ,&:focus, &:hover {
    color: #fff !important;
    background-color: transparent !important;
  }
  &:focus-visible {
    outline: none !important;
  }
}
.btn-change {
  color: #1677ff;
  width: 100%;
  text-align: center;
  &:active ,&:focus, &:hover {
    color: #1677ff !important;
    background-color: transparent !important;
  }
}
